---
import EnterButton from "./EnterButton.astro";
import WaveHeader from "./WaveHeader.astro";
---

<WaveHeader
  class="relative w-full h-screen min-h-[55rem] py-24 sm:py-36 xl:py-48 overflow-hidden"
  id="about"
>
  <div
    class="flex flex-col items-center py-36 mx-auto w-3/4 sm:w-2/3 md:w-[70ch] break-words"
  >
    <div class="flex flex-col items-center m-0 px-0">
      <h1
        class="w-full font-display z-10 text-3xl sm:text-4xl md:text-5xl text-white flex flex-col items-center gap-3 mb-3 md:mb-8 my-12 sm:my-0"
      >
        <p class="font-sans self-start text-l sm:text-xl md:text-4xl">
          We are
        </p><span
          class="text-white text-4xl xs:text-5xl sm:text-6xl md:text-8xl"
          >SuperMassive</span
        >
      </h1>
      <p
        class="self-end text-l sm:text-xl md:2xl text-white font-sans max-w-[30ch] md:max-w-[40ch] mt-1 md:mt-8"
      >
        Dedicated to bringing exciting interactive art to the UK.
      </p>
    </div>
    <EnterButton
      color="white"
      class="underline hover:no-underline mt-24 mx-auto"
    >
      <a
        class="font-display text-2xl sm:text-3xl align-middle"
        href="https://www.skiddle.com/whats-on/London/Submarine-Cable-Depot/SuperMassive-Emergence-Day-Tickets/36341285/"
        target="_blank">Attend our launch event!</a
      >
    </EnterButton>
  </div>
</WaveHeader>
