<footer
  class="flex flex-row justify-around items-center p-2 sm:p-6 md:p-12 text-sm sm:text-md md:text-l lg:text-xl"
>
  <a href="https://www.instagram.com/supermassiveuk/" target="_blank"
    >Instagram</a
  >
  <a href="">Join our mailing list</a>
  <a href="mailto:hello@supermassive.uk">Email us</a>
</footer>

<style lang="scss">
  a {
    &:hover {
      color: #ff9800;
      cursor: pointer;
    }
  }
</style>
