<footer
  class="flex flex-row justify-around items-center p-2 pb-6 sm:p-6 md:p-12 text-xs xs:text-sm sm:text-md md:text-lg"
>
  <a href="https://www.instagram.com/supermassiveuk/" target="_blank"
    >Instagram</a
  >
  <!-- <a href="">Join our mailing list</a> -->
  <a href="mailto:hello@supermassive.uk">Email us</a>
</footer>

<style lang="scss">
  a {
    height: 100%;
    background-size: 600% 600%;
    animation: gradient 60s ease-in-out infinite;
    background: var(--rainbow-gradient);
    background-clip: text;

    &:hover {
      color: transparent;
      // color: #ff9800;
      cursor: pointer;
    }
  }
  @keyframes gradient {
    0% {
      background-position: right;
    }
    50% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
</style>
