<footer class="flex flex-row justify-around items-center p-12">
  <a href="https://www.instagram.com/supermassiveuk/" target="_blank"
    >Instagram</a
  >
  <a href="">Join our mailing list</a>
  <a href="mailto:hello@supermassive.uk">Email us</a>
</footer>

<style lang="scss">
  a {
    &:hover {
      color: #ff9800;
      cursor: pointer;
    }
  }
</style>
