---
import type { IDeliveryAction } from "@cloudinary/url-gen/actions/delivery";
import CldImage from "./CldImage.astro";
import CldSource from "./CldSource.astro";
import EnterButton from "./EnterButton.astro";
import { Cloudinary } from "@cloudinary/url-gen";

const cld = new Cloudinary({
  cloud: {
    cloudName: "dzzhteqkx",
  },
});

let posterSrc;
posterSrc = cld
  .image("supermassive-splash-fallback")
  .format("auto")
  .delivery("q_auto" as unknown as IDeliveryAction);
---

<section class="flex flex-col h-screen box">
  <div class="w-100 relative basis-2/3 md:basis-4/5">
    <video
      muted
      autoplay
      id="splash-video"
      loop={false}
      controls={false}
      poster={posterSrc.toURL()}
      class="absolute h-full w-full top-0 left-0 object-fit"
      aria-label="Welcome to supermassive.uk"
    >
      <CldSource src="supermassive-splash" type="video/webm" />
      <CldSource src="supermassive-splash-mp4" type="video/mp4" />
      <CldImage
        src="supermassive-splash-fallback"
        alt="Welcome to supermassive.uk"
        title="Welcome to supermassive.uk"
        width="100%"
        height="100%"
      />
      This browser doesn't support HTML5 video.
    </video>
  </div>
  <div
    class="basis-1/3 md:basis-1/5 flex flex-col justify-start items-center m-0 p-0"
  >
    <EnterButton color="white" id="enter-button">
      <a href="#about" class="font-display text-2xl sm:text-3xl">ENTER</a>
    </EnterButton>
  </div>
</section>
<style>
  section {
  }
</style>
<script>
  // Import npm modules.

  // Find our component DOM on the page.
  const button = document.querySelector("#enter-button");
  const video: HTMLMediaElement | null =
    document.querySelector("#splash-video");
  console.log(video);
  // Add event listeners to fire confetti when a button is clicked.
  if (button && video) {
    button.addEventListener("mouseenter", () => {
      video.currentTime = 3.5;
      video.play();
    });
  }
</script>
