---
const props = Astro.props;
---

<section {...props}>
  <div id="gradient-bg"></div>
  <svg
    class="top-wave h-2/5 md:h-1/5"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
    shape-rendering="auto"
    viewBox="0 0 1440 320"
  >
    <defs>
      <!-- <path
      id="gentle-wave"
      stroke="rgb(0,0,0)"
      stroke-width="5"
      fill-opacity="1"
      fill="rgba(0,0,0,1)"
      d="M0,128L30,144C60,160,120,192,180,192C240,192,300,160,360,170.7C420,181,480,235,540,245.3C600,256,660,224,720,202.7C780,181,840,171,900,170.7C960,171,1020,181,1080,176C1140,171,1200,149,1260,144C1320,139,1380,149,1410,154.7L1440,160L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"
    ></path> -->
      <path
        stroke="rgb(0,0,0)"
        stroke-width="1"
        id="gentle-wave"
        fill-opacity="1"
        d="M0,160L7.7,176C15.5,192,31,224,46,218.7C61.9,213,77,171,93,154.7C108.4,139,124,149,139,149.3C154.8,149,170,139,186,128C201.3,117,217,107,232,138.7C247.7,171,263,245,279,256C294.2,267,310,213,325,197.3C340.6,181,356,203,372,224C387.1,245,403,267,418,282.7C433.5,299,449,309,465,266.7C480,224,495,128,511,117.3C526.5,107,542,181,557,202.7C572.9,224,588,192,604,165.3C619.4,139,635,117,650,117.3C665.8,117,681,139,697,128C712.3,117,728,75,743,69.3C758.7,64,774,96,790,112C805.2,128,821,128,836,122.7C851.6,117,867,107,883,96C898.1,85,914,75,929,85.3C944.5,96,960,128,975,170.7C991,213,1006,267,1022,250.7C1037.4,235,1053,149,1068,112C1083.9,75,1099,85,1115,117.3C1130.3,149,1146,203,1161,229.3C1176.8,256,1192,256,1208,229.3C1223.2,203,1239,149,1254,149.3C1269.7,149,1285,203,1301,218.7C1316.1,235,1332,213,1347,224C1362.6,235,1378,277,1394,256C1409,235,1425,149,1432,106.7L1440,64L1440,0L1432.3,0C1424.5,0,1409,0,1394,0C1378.1,0,1363,0,1347,0C1331.6,0,1316,0,1301,0C1285.2,0,1270,0,1254,0C1238.7,0,1223,0,1208,0C1192.3,0,1177,0,1161,0C1145.8,0,1130,0,1115,0C1099.4,0,1084,0,1068,0C1052.9,0,1037,0,1022,0C1006.5,0,991,0,975,0C960,0,945,0,929,0C913.5,0,898,0,883,0C867.1,0,852,0,836,0C820.6,0,805,0,790,0C774.2,0,759,0,743,0C727.7,0,712,0,697,0C681.3,0,666,0,650,0C634.8,0,619,0,604,0C588.4,0,573,0,557,0C541.9,0,526,0,511,0C495.5,0,480,0,465,0C449,0,434,0,418,0C402.6,0,387,0,372,0C356.1,0,341,0,325,0C309.7,0,294,0,279,0C263.2,0,248,0,232,0C216.8,0,201,0,186,0C170.3,0,155,0,139,0C123.9,0,108,0,93,0C77.4,0,62,0,46,0C31,0,15,0,8,0L0,0Z"
      ></path>
    </defs>

    <g class="parallax">
      <use xlink:href="#gentle-wave" x="0" y="0"></use>
      <!-- <use xlink:href="#gentle-wave" x="0" y="3"></use>
    <use xlink:href="#gentle-wave" x="0" y="3"></use> -->
    </g>
  </svg>

  <slot />
  <svg
    class="bottom-wave h-2/5 md:h-1/5"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
    shape-rendering="auto"
    viewBox="0 0 1440 320"
  >
    <defs>
      <path
        id="gentle-wave2"
        stroke="rgb(0,0,0)"
        stroke-width="1"
        fill-opacity="1"
        d="M0,96L18.5,128C36.9,160,74,224,111,229.3C147.7,235,185,181,222,165.3C258.5,149,295,171,332,170.7C369.2,171,406,149,443,154.7C480,160,517,192,554,202.7C590.8,213,628,203,665,186.7C701.5,171,738,149,775,154.7C812.3,160,849,192,886,197.3C923.1,203,960,181,997,192C1033.8,203,1071,245,1108,224C1144.6,203,1182,117,1218,117.3C1255.4,117,1292,203,1329,218.7C1366.2,235,1403,181,1422,154.7L1440,128L1440,320L1421.5,320C1403.1,320,1366,320,1329,320C1292.3,320,1255,320,1218,320C1181.5,320,1145,320,1108,320C1070.8,320,1034,320,997,320C960,320,923,320,886,320C849.2,320,812,320,775,320C738.5,320,702,320,665,320C627.7,320,591,320,554,320C516.9,320,480,320,443,320C406.2,320,369,320,332,320C295.4,320,258,320,222,320C184.6,320,148,320,111,320C73.8,320,37,320,18,320L0,320Z"
      >
      </path>
    </defs>

    <g class="parallax">
      <use xlink:href="#gentle-wave2" x="0" y="0"></use>
      <!-- <use xlink:href="#gentle-wave" x="0" y="3"></use>
    <use xlink:href="#gentle-wave" x="0" y="3"></use> -->
    </g>
  </svg>
</section>
<style lang="scss">
  #gradient-bg {
    position: absolute;
    inset: 0;
    background-image: var(
      --rainbow-gradient
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    width: 1000%;
    height: 100%;
    z-index: -2;
    animation: gradient-bg 120s ease-in-out infinite;
    // filter: blur(1.5rem);
    @keyframes gradient-bg {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(-90%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  }

  .top-wave {
    position: absolute;
    top: 0;
    margin: -10px 0;
    // path {
    //   fill: "black";
    //   stroke-linecap: square;
    // }
    // transform-box: fill-box;
    // transform-origin: 50% 50%;
    transform: scaleX(1000%);
    .parallax > use {
      will-change: transform;
      fill: rgba(0, 0, 0, 1);
      animation: move-left 110s linear infinite alternate-reverse;
    }
    .parallax > use:nth-child(1) {
      fill: rgba(0, 0, 0, 1);
      // transform: scaleY(0.5) translate();
      // transform: scale(-1, 1);

      animation: move-left 110s linear infinite alternate-reverse;
    }
  }

  .bottom-wave {
    position: absolute;
    bottom: 0;
    // margin: -10px 0;
    // path {
    //   fill: "black";
    //   stroke-linecap: square;
    // }
    // transform-box: fill-box;
    // transform-origin: 50% 50%;
    transform: scaleX(500%);
    .parallax > use {
      will-change: transform;
      fill: rgba(0, 0, 0, 1);
      animation: move-right 80s ease infinite alternate-reverse;
    }
    .parallax > use:nth-child(1) {
      fill: rgba(0, 0, 0, 1);
      // transform: scaleY(0.5) translate();
      // transform: scale(-1, 1);

      animation: move-right 80s ease infinite alternate-reverse;
    }
  }
  @keyframes move-right {
    0% {
      transform: translateX(0) translateY(0px) scaleY(150%);
    }
    10% {
      transform: translateX(100px) translateY(0px) scaleY(100%);
    }
    20% {
      transform: translateX(200px) translateY(0px) scaleY(150%);
    }
    30% {
      transform: translateX(300px) translateY(0px) scaleY(100%);
    }
    40% {
      transform: translateX(400px) translateY(0px) scaleY(150%);
    }
    50% {
      transform: translateX(500px) translateY(0px) scaleY(100%);
    }
    60% {
      transform: translateX(400px) translateY(0px) scaleY(150%);
    }
    70% {
      transform: translateX(300px) translateY(0px) scaleY(100%);
    }
    80% {
      transform: translateX(200px) translateY(0px) scaleY(150%);
    }
    90% {
      transform: translateX(100px) translateY(0px) scaleY(100%);
    }
    100% {
      transform: translateX(0) translateY(0px) scaleY(150%);
    }
  }
  @keyframes move-left {
    0% {
      transform: translateX(0) translateY(0px) scaleY(70%);
    }
    10% {
      transform: translateX(-100px) translateY(0px) scaleY(100%);
    }
    20% {
      transform: translateX(-200px) translateY(0px) scaleY(70%);
    }
    30% {
      transform: translateX(-300px) translateY(0px) scaleY(100%);
    }
    40% {
      transform: translateX(-400px) translateY(0px) scaleY(70%);
    }
    50% {
      transform: translateX(-500px) translateY(0px) scaleY(100%);
    }
    60% {
      transform: translateX(-400px) translateY(0px) scaleY(70%);
    }
    70% {
      transform: translateX(-300px) translateY(0px) scaleY(100%);
    }
    80% {
      transform: translateX(-200px) translateY(0px) scaleY(70%);
    }
    90% {
      transform: translateX(-100px) translateY(0px) scaleY(100%);
    }
    100% {
      transform: translateX(0) translateY(0px) scaleY(70%);
    }
  }
</style>
